.statistic{
    background-color: #cecece;
    padding: 10px 10px 20px;

}

.selects{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.selectBlock{
    display: flex;
}

.selectTitle{
    background-color: #434040;
    color: white;
    font-size: 20px;
    white-space: nowrap;
    padding: 0 10px;
    margin-left: 30px
}

.canvas{

}

.canvasInfo{

}