.item {
    display: flex;
    padding: 5px 0;
    color: #fff;
    justify-content: space-between;

}

.type {
    color: #fff;
    font-size: 24px;
    padding-left: 5px;
}

.value {
    width: 120px;
    font-size: 24px;
    position: relative;
}

.value:before {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    top: 50%;
    left: -5px;
    transform: translate(-100%, -50%);
    font-family: 'icomoon';
    content: "\e901";
    font-size: 30px;
}

.item:nth-child(1) .value:before {
    content: "\e900";
    color: darkred;
}

.item:nth-child(2) .value:before {
    content: "\e900";
    color: darkred;
}

.item:nth-child(3) .value:before {
    content: "\f004";
    color: darkgreen;
}

.item:nth-child(4) .value:before {
    content: "\f004";
    color: darkgreen;
}

.item:nth-child(5) .value:before {
    content: "\e901";
    color: darkblue;
}

.item:nth-child(6) .value:before {
    content: "\e901";
    color: darkblue;
}