.canvas {
    background-color: white;
    display: flex;
    justify-content: center;

}

.canvasWrapper {
    /*width: 960px;*/
    /*height: 330px;*/
    margin: 50px auto 30px;
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.canvasAxis{
    z-index: 3;
}

.canvasGraph{
    z-index: 4;
}

.canvasPoint{
    z-index: 5;
}