select {
    width: 100%;
    height: 28px;
    outline: none;
    font-size: 20px;
    margin-bottom: 2px;
    display: block;
}

option {
    width: 100%;
    font-size: 20px;

}

option::after{
    content: 'test';
}